{% extends "base.html" %}

{% block content %}
    {% if error_msg %}
        {{ error_msg }}
    {% endif %}
    <form action="{% url "login" %}" method="post">{% csrf_token %}
        <p>email: <input type="text" name="email"/></p>
        <p>password: <input type="password" name="password"/></p>
        <input type="submit" value="login" />
    </form>
    <p>no account? <a href="{% url "register" %}">Register</a></p>
    <p>Or, Sign in with the following social accounts</p>
    <hr />
    {% for s in social_sites %}
        <div class="social-login-link" url="{{ s.authorize_url }}">
            <a href="{{ s.authorize_url }}">
            使用 {{ s.site_name_zh }} 登录
            </a>
        </div>
    {% endfor %}
{% endblock %}