{% extends "base.html" %}

{% block content %}
    <p>{{ email }}</p>
    <p>set username for youself</p>
    <form  action="{% url "register_step_2" %}" method="post">{% csrf_token %}
        <div class="control-group">
            <label class="control-label" for="inputUsername">Username</label>
            <div class="controls">
                <input type="text" id="inputUsername" name="username" placeholder="username">
            </div>
        </div>
        
        <div class="control-group">
            <div class="controls">
                <button type="submit" class="btn">Submit</button>
            </div>
        </div>
        
    </form>
    
    {% if error_msg %}
        <div class="alert alert-error">
        {{ error_msg }}
        </div>
    {% endif %}
{% endblock %}