<!DOCTYPE html>
<html>
    <head>
        <title>Django Social Login</title>
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
        
        <style type="text/css">
            
        </style>
        
        {% block css %}
        {% endblock %}
        
        <script src="/static/jquery-1.9.0.min.js"></script>
        <script type="text/javascript">
            
        </script>
        
        {% block js %}
        {% endblock %}
    </head>
    
    <body>
        {% block content %}
        {% endblock %}
    </body>
</html>
